<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.AttendMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Attend">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="starttime" property="starttime" jdbcType="TIMESTAMP" />
		<result column="endtime" property="endtime" jdbcType="TIMESTAMP" />
		<result column="count" property="count" jdbcType="DOUBLE" />
		<result column="created" property="created" jdbcType="TIMESTAMP" />
		<result column="staffid" property="staffid" jdbcType="INTEGER" />
		<result column="staffname" property="staffname" jdbcType="VARCHAR" />
		<result column="year" property="year" jdbcType="INTEGER" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="month" property="month" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`starttime`,`endtime`,`count`,`created`,`staffid`,`staffname`,`year`,`type`,`month`
	</sql>
	<select id="selectAttendById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `attend` where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `attend` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.starttime !=null ">
		AND `starttime` = #{params.starttime}
		</if>
		<if test="params.endtime !=null ">
		AND `endtime` = #{params.endtime}
		</if>
		<if test="params.count !=null ">
		AND `count` = #{params.count}
		</if>
		<if test="params.created !=null ">
		AND `created` = #{params.created}
		</if>
		<if test="params.staffid !=null ">
		AND `staffid` = #{params.staffid}
		</if>
		<if test="params.staffname !=null and params.staffname!=''">
		 AND `staffname` like concat('%',#{params.staffname},'%')
		</if>
		<if test="params.year !=null ">
		AND `year` = #{params.year}
		</if>
		<if test="params.type !=null ">
		AND `type` = #{params.type}
		</if>
		<if test="params.month !=null ">
		AND `month` = #{params.month}
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `attend` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ognice.domain.Attend"> insert into `attend` (
		`id`,`starttime`,`endtime`,`count`,`created`,`staffid`,`staffname`,`year`,`type`,`month`			
	) values (
		#{id,jdbcType=INTEGER},
		#{starttime,jdbcType=TIMESTAMP},
		#{endtime,jdbcType=TIMESTAMP},
		#{count,jdbcType=DOUBLE},
		#{created,jdbcType=TIMESTAMP},
		#{staffid,jdbcType=INTEGER},
		#{staffname,jdbcType=VARCHAR},
		#{year,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{month,jdbcType=INTEGER}		
	)
	</insert>
	<update id="update" parameterType="com.ognice.domain.Attend">
		update `attend`
		<set>
		<if test="id != null">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="starttime != null">
		`starttime`= #{starttime,jdbcType=TIMESTAMP},
		</if>
		<if test="endtime != null">
		`endtime`= #{endtime,jdbcType=TIMESTAMP},
		</if>
		<if test="count != null">
		`count`= #{count,jdbcType=DOUBLE},
		</if>
		<if test="created != null">
		`created`= #{created,jdbcType=TIMESTAMP},
		</if>
		<if test="staffid != null">
		`staffid`= #{staffid,jdbcType=INTEGER},
		</if>
		<if test="staffname != null">
		`staffname`= #{staffname,jdbcType=VARCHAR},
		</if>
		<if test="year != null">
		`year`= #{year,jdbcType=INTEGER},
		</if>
		<if test="type != null">
		`type`= #{type,jdbcType=INTEGER},
		</if>
		<if test="month != null">
		`month`= #{month,jdbcType=INTEGER},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>