<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.CangkudetailMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.Cangkudetail">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="cangkuid" property="cangkuid" jdbcType="INTEGER" />
		<result column="cangkuname" property="cangkuname" jdbcType="VARCHAR" />
		<result column="materidd" property="materidd" jdbcType="INTEGER" />
		<result column="count" property="count" jdbcType="INTEGER" />
		<result column="proidd" property="proidd" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`cangkuid`,`cangkuname`,`materidd`,`count`,`proidd`,`name`
	</sql>
	<select id="selectCangkudetailById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `cangkudetail` where id = #{id,jdbcType=INTEGER}
	</select>

    <select id="getCangkuMater" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from `cangkudetail` where cangkuid = #{0} AND materidd = #{1}
    </select>

    <select id="getCangkuPro" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from `cangkudetail` where cangkuid = #{0} AND proidd = #{1}
    </select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `cangkudetail` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.cangkuid !=null ">
		AND `cangkuid` = #{params.cangkuid}
		</if>
		<if test="params.cangkuname !=null and params.cangkuname!=''">
		 AND `cangkuname` like concat('%',#{params.cangkuname},'%')
		</if>
		<if test="params.materidd !=null ">
		AND `materidd` = #{params.materidd}
		</if>
		<if test="params.count !=null ">
		AND `count` = #{params.count}
		</if>
		<if test="params.proidd !=null ">
		AND `proidd` = #{params.proidd}
		</if>
		<if test="params.name !=null and params.name!=''">
		 AND `name` like concat('%',#{params.name},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `cangkudetail` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ognice.domain.Cangkudetail"> insert into `cangkudetail` (
		`id`
				,
		`cangkuid`
				,
		`cangkuname`
				,
		`materidd`
				,
		`count`
				,
		`proidd`
				,
		`name`
				
	) values (
		#{id,jdbcType=INTEGER},
		#{cangkuid,jdbcType=INTEGER},
		#{cangkuname,jdbcType=VARCHAR},
		#{materidd,jdbcType=INTEGER},
		#{count,jdbcType=INTEGER},
		#{proidd,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR}
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.Cangkudetail">
		update `cangkudetail`
		<set>
		<if test="id != null">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="cangkuid != null">
		`cangkuid`= #{cangkuid,jdbcType=INTEGER},
		</if>
		<if test="cangkuname != null">
		`cangkuname`= #{cangkuname,jdbcType=VARCHAR},
		</if>
		<if test="materidd != null">
		`materidd`= #{materidd,jdbcType=INTEGER},
		</if>
		<if test="count != null">
		`count`= #{count,jdbcType=INTEGER},
		</if>
		<if test="proidd != null">
		`proidd`= #{proidd,jdbcType=INTEGER},
		</if>
		<if test="name != null">
		`name`= #{name,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>