<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ognice.dao.FileMapper">
	<resultMap id="BaseResultMap" type="com.ognice.domain.File">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="fileurl" property="fileurl" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		`id`,`name`,`fileurl`
		
	</sql>
	<select id="selectFileById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from `file` where id = #{id,jdbcType=INTEGER}
	</select>
	<select id="page" parameterType="com.ognice.controller.common.PageSearchParam" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from `file` where 1=1
		<if test="params!=null">
		<if test="params.id !=null ">
		AND `id` = #{params.id}
		</if>
		<if test="params.name !=null and params.name!=''">
		 AND `name` like concat('%',#{params.name},'%')
		</if>
		<if test="params.fileurl !=null and params.fileurl!=''">
		 AND `fileurl` like concat('%',#{params.fileurl},'%')
		</if>
		</if>
		order by id desc
		<if test="page!=null"> limit #{page},#{pagesize}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer"> delete from `file` where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.ognice.domain.File"> insert into `file` (
		`id`,`name`,`fileurl`			
	) values (
		#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{fileurl,jdbcType=VARCHAR}	
	)
	</insert>

	<update id="update" parameterType="com.ognice.domain.File">
		update `file`
		<set>
		<if test="id != null">
		`id`= #{id,jdbcType=INTEGER},
		</if>
		<if test="name != null">
		`name`= #{name,jdbcType=VARCHAR},
		</if>
		<if test="fileurl != null">
		`fileurl`= #{fileurl,jdbcType=VARCHAR},
		</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>

</mapper>